<div class="container py-4">
  <h1 class="h3 mb-4">プロフィール編集</h1>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="border rounded-3 p-4 bg-white">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>