<p>こんにちは <%= @resource.email %>さん！</p>

<p>パスワードのリセット申請を受け付けました。</p>

<p>以下のリンクをクリックしてパスワードを変更してください：</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールをリクエストしていない場合は、無視してください。</p>
<p>パスワードは、上記のリンクにアクセスして新しいパスワードを作成するまで変更されません。</p>
