<p>こんにちは <%= @resource.email %>さん！</p>

<p>ログイン試行回数が上限に達したため、アカウントがロックされました。</p>

<p>アカウントのロックを解除するには、以下のリンクをクリックしてください：</p>

<p><%= link_to 'アカウントのロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
